<div id="hero-text">About Us</div>

<div class="ui center aligned container">
    <h2>TechBuilds is the newest online pc parts marketplace with the most up to date solutions to consumer challenges</h2>
    <br>
</div>
<div class="ui two column doubling stackable grid container">
    <div class="column">
        <h2>Our Mission</h2>
        <p>Our small, passionate team strive to sell you the parts and products we use every day.</p>
        <h2>Our Story</h2>
        <p>The 5 of us here at TechBuilds saw that other pc parts websites had a large selection that led to many customers going to secondary blog sites for recommendations on builds. These other companies tend to force the less informed consumers to trust not only themselves but also unvetted blogs. We felt that there was an unanswered demand for a company that offers a simpler selection of quality goods so, in early 2023, we built that company.</p>
    </div>
    <div class="column">
        <h2>Problem and Solution</h2>
        <p>Our competetors offer you the widest variety of parts which overwhelms and confuses the consumer. We sell you the parts we use or would recommend to a friend, helping to simplify your product selection process.</p>
        <h2>Check out our store</h2>
        <p>Knowing who we are, we think you're ready to see the curated products we offer!<a href="/products"> Order today!</a></p>
    </div>
</div>
