 <div class='shoppingcart'><h1>Items in Cart <i class="shopping cart icon" id="cart-icon"></i></h1>
<div class="ui four column grid" style="margin:20px;">
    {{#each products as |product| }}
    <div class="column">
      {{> cart-item product=product}}
    </div>
    {{/each}}
</div>
<br>
<p class="cart-footer">Thanks for shopping with TechBuilds.</p>
</div>
<script src="/js/cartRemove.js"></script>