 <div class='shoppingcart'><h1>Items in cart  <i class="shopping cart icon" id="cart-icon"></i></h1>

{{#each products as |product| }}
  {{> cart-item product=product}}
{{/each}}   


<p class="cart-footer">Thanks for shopping with TechBuilds.</p>

</div>