<div id="hero-text">Contact Us</div>

<div class="ui center aligned container">
    <h1>Contact Us</h1>
</div>

{{!-- <div class="ui two column stackable grid container"> --}}
{{!-- the following line of code is temporary without the submit field when we may be using two columns--}}
    <div class="ui center aligned container">
    {{!-- <div class="column"> --}}
        <p>We at TechBuilds are proud of our quality and timely customer support.</p>
        <h2>Call us 555-555-5555</h2>
        </h2>Email us <a href="mailto:ouremail@gmail.com">ouremail@gmail.com</a></h2>
    </div>
    {{!-- <div class="column">
        <form action="/contact" method="POST" class="ui form" id="contactUs-form">
         <div class="field">
             <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
         </div>
         <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
         </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
         </div>
         <button class="ui button" type="submit">Contact Us</button>
        </form>
     </div>
</div> --}}

{{!-- 


*this is the original code, I wasn't confident I could successfully "undo" the comments after changing code to make the single column make sense*

<div id="hero-text">Contact Us</div>

<div class="ui center aligned container">
    <h1>Contact Us</h1>
</div>

<div class="ui two column stackable grid container">
    <div class="column">
        <p>We at TechBuilds are proud of our quality and timely customer support.</p>
        <h2>Call us 555-555-5555</h2>
        </h2>Email us <a href="mailto:ouremail@gmail.com"></a></h2>
    </div>
    <div class="column">
        <form action="/contact" method="POST" class="ui form" id="contactUs-form">
         <div class="field">
             <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
         </div>
         <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
         </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
         </div>
         <button class="ui button" type="submit">Contact Us</button>
        </form>
     </div>
</div> --}}