<div id="hero-text"><img class="ui middle aligned medium image" src="/assets/logo_with_text.png" style="top:-100px;">
<div class="ui top attached center aligned container" style="color:white;">
    <h2>Welcome to TechBuilds{{#if logged_in}}, {{username}}! {{else}}!{{/if}}</h2>
    {{#if logged_in}}<br><button class="ui inverted button" onclick="window.location.href='/products'">View Products</button>{{/if}}
</div>
</div>

