<div class="ui center aligned container">
    <h2>Login</h2>
    <form class="ui form" id="login-form">
        <div class="field">
            <label>Username</label>
            <input type="text" id="login-username" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" id="login-password" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>