<div id="hero-text">Login</div>

<div class="ui center aligned container">
    <form class="ui form" id="login-form">
        <div class="field">
            <label>Username</label>
            <input type="text" id="login-username" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" id="login-password" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Login</button>
    </form>
    <br>
    <button class="ui button">Register</button>
    <script src="/js/login.js"></script>
</div>