<div id="hero-text">Register</div>

<div class="ui center aligned container">
    <form class="ui form" id="register-form">
        <div class="field">
            <label>Username</label>
            <input type="text" id="registerUsername" placeholder="Username">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" id="registerEmail" placeholder="Email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" id="registerPassword" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Login</button>
    </form>
    <br>
    <script src="/js/register.js"></script>
</div>